@model TicketSystem.Model.Comment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Comment</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AuthorId)
        @Html.HiddenFor(model => model.TicketId)

        <div class="control-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Content)
				@Html.ValidationMessageFor(model => model.Content, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

