<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css", "~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav" id="MainMenu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="#">Tickets</a>
                                <ul>
                                    <li>
                                        @Html.ActionLink("All", "All", "Tickets")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Add", "Create", "Tickets")
                                    </li>
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="#">Administration</a>
                                <ul>
                                    <li>
                                        @Html.ActionLink("Categories", "Index", "AdministrationCategories")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Comments", "Index", "AdministrationComments")
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <h2>@TempData["SuccessMessage"]</h2>
            <hr />
            <br />
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ticket System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $("#MainMenu").kendoMenu();
    </script>
</body>
</html>
